<div >  
   <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light  ">
        <a class="navbar-brand text-success" href="#"><i class="bi bi-telephone-inbound-fill m-2 text-primary"></i>Phonebook Application</a>  
    </nav>
    
   <!-- Contact List & Add Contact Buttons -->
    <div class="d-flex flex-col justify-content-start bg-opacity-75 shadow-sm">
        <div class="p-2">
            <button class="btn btn-warning">
                <a routerLink="contacts"  routerLinkActive="active" class="text-success">Contact List</a>
            </button>
        </div>
        <div class="p-2">
            <button class="btn btn-primary">
                <a routerLink="add-contact"  class="text-light">Add Contact </a>
            </button>
        </div>
    </div>    
</div>